/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 3, 2015, 12:37:07 AM
    Author     : Yellow Flash
*/

.navbar-inverse {
    background-color: rgba(224,224,224,1);
    border-color: rgba(224,224,224,1);


}

background{
    background-color: rgba(224,224,224,0.5);

}

@font-face {
    font-family: myFirstFont;
    src:url(../fonts/KaushanScript-Regular-webfont.ttf);

}

.site-title {
    font-family: myFirstFont;
    font-size: 30pt;
    font-weight: normal;
    margin-top: 5px;
    /*text-transform: uppercase;*/
    /*text-transform: capitalize;*/
}

.site-title1 {
    font-family: myFirstFont;
    font-size: 30pt;
    
    font-weight: normal;
    margin-top: 5px;
    /*text-transform: uppercase;*/
    /*text-transform: capitalize;*/
}

.signUpForm{
    background-color: rgba(0,0,0,0.5);
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    color: #DADADA;
    padding: 1.5em;
    margin-top: 1em;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: black;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a {
  color: cornflowerblue;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: blue;
  background-color: transparent;
}