
.navbar {
    margin-bottom: 0;

}
.jumbotron {
    margin-bottom: 30px;
    margin-top: 0;

}
.textColumnModule{

    background-color: #E6E6E6;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
    color: #838287;
    margin-bottom: 2em;
    /*border: 2px solid darkgrey;*/

}
.columnHeader{

    margin-top: 0.5em;
    margin-right: 0%;
    margin-bottom: auto;
    margin-left: 0%;
/*    padding-left: 1%;*/
    padding: 0.2em;
    
    border-bottom: 1px solid #F2F2F2;
}
.columnFooter{
    background-color: #B5B5B5;
    margin-top: auto;
    margin-right: 0%;
    margin-bottom: auto;
    margin-left: 0%;
    padding-left: 1%;

}

.listHead{
    margin-left: 0.5em;
    
}

.listItems{
    margin-left: 3em;
}

.panel-default > .panel-heading {
	background-color: #B5B5B5;

}

