{%extends '::base.html.twig'%}


{%block container%}
    <h2 class="page-header">Project Name [EDIT]</h2>
    <div class="form-control">
        <form action="#" method="post" name="projectEdit">

            <div class="row">

                <h3 class="page-header">Image Crousel [EDIT]</h3>

                <p>Here you can insert three images which can be use to display in front crousel[image slider].In order to achive good quality of your image crousel please use 900*500 or higher resolution images.<br />
                    <strong>Caution</strong><br />
                    Higher resolution will affect the performance of the web page.given resolution size will achieve optimum performance.
                </p>

                <label for="crouselImg1" class="control-label">Image 1</label>
                <input type="file" name="crouselImg1" id="crouselImg1">
                <label for="crouselImg1" class="control-label">Image 2</label>
                <input type="file" name="crouselImg2">
                <label for="crouselImg1" class="control-label">Image 3</label>
                <input type="file" name="crouselImg3">


            </div>
            <div id="projectEdit" class="row">
                <h3 class="page-header">ProjectDetails [EDIT]</h3>
                <input type="text" placeholder="Project Title" name="projectTitle" class="form-control">
                <input type="text" placeholder="Project Hosted by" name="projectHost" class="form-control">
                <label class="control-label" for="typeList">Select Project Type</label>
                <select class="form-control" name="typeList">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                </select>
                <textarea type="text" placeholder="Project Description" name="projectDescription" class="form-control"></textarea>
            </div>
            <div id="statusEdit" class="row">
                <h3 class="page-header">Project Status [EDIT]</h3>

            </div>
            <div id="galleryEdit" class="row">
                <h3 class="page-header">Project Gallery [EDIT]</h3>
            </div>
            <button type="submit" class="btn-btn-info">Submit</button>

        </form>
    </div>
{%endblock container%}